FIRMAGOB_ENTITY=Subsecretaria General de la Presidencia
FIRMAGOB_API_TOKEN_KEY=sandbox
FIRMAGOB_RUN=11111111
FIRMAGOB_PURPOSE=Propósito General
FIRMAGOB_SECRET=27a216342c744f89b7b82fa290519ba0
FIRMAGOB_ENDPOINT_API=https://api.firma.cert.digital.gob.cl/firma/v2/files/tickets
FIRMAGOB_UNATTENDED_RUN=22222222
FIRMAGOB_ATTENDED_RUN=11111111